/* SCSS imports */
/* Variables */
/* Minireset */
* {
  padding: 0;
  margin: 0;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  color: #fff;
  background-color: #0c0910;
  text-decoration: none;
  width: 6rem;
  height: 6rem;
}
.navbar__list {
  display: flex;
  justify-content: flex-end;
  font-family: "Raleway", sans-serif;
  color: #0c0910;
  font-size: 16px;
  font-weight: 700;
  list-style-type: none;
  text-decoration: none;
}
.navbar__link {
  text-decoration: none;
}
.navbar__link:visited {
  color: #0c0910;
}
.navbar__link--mr {
  padding: 0 2rem;
}

/* Main section */
.main__text-area {
  height: 75vh;
  display: inline-block;
  padding-left: 4rem;
  padding-top: 10rem;
}
.main__text {
  color: #0c0910;
}
.main__title {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}
.main__paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 1rem 0 1.5rem 0;
  line-height: 1.6;
}
.main__button-container {
  padding-bottom: 3rem;
}
.main__button {
  border: 1px solid #0c0910;
  color: #0c0910;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: #fff;
}
.main__button--primary {
  font-size: 18px;
  padding: 1rem 2rem;
}
.main__button--primary:hover {
  border: 1px solid #646266;
  color: #646266;
}
.main__button--primary:focus {
  border: 1px solid #a6a5a8;
  color: #a6a5a8;
}
.main__form {
  background-color: #0c0910;
  color: #fff;
  font-family: "Old Standard TT", serif;
}
.main__form-title {
  font-weight: 700;
  font-size: 30px;
  padding: 1.5rem 0;
}
.main__form-mail {
  font-size: 18px;
  font-weight: 400;
}
.main__form-input {
  color: #0c0910;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 5rem 0.5rem 0;
  border: none;
  margin-top: 0.4rem;
}
.main__img {
  width: 55vw;
  height: 100vh;
  display: inline-block;
  background: url(/assets/images/principal.jpg);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  height: 100vh;
  width: 38vw;
}

.green-column {
  height: 100vh;
  width: 58vw;
  background: url(/assets/images/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div {
  display: inline;
}

.form {
  color: #fff;
  font-family: "Old Standard TT", serif;
  background-color: #0c0910;
  height: 25vh;
  padding-left: 4rem;
}

.orange-column {
  height: 100vh;
  width: 4vw;
  padding-top: 43rem;
  font-size: 20px;
  font-weight: 700;
}

.test {
  transform: rotate(90deg);
}

/*# sourceMappingURL=main.css.map */
