/* SCSS imports */
/* Variables */
/* Minireset */
* {
  padding: 0;
  margin: 0;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Navigation */
.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 5rem;
}
.navbar__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  color: #fff;
  background-color: #0c0910;
  text-decoration: none;
  width: 5rem;
  height: 5rem;
}
.navbar__list {
  margin-left: auto;
  font-family: "Raleway", sans-serif;
  color: #0c0910;
  font-size: 16px;
  font-weight: 700;
  list-style-type: none;
  text-decoration: none;
}
.navbar__link {
  text-decoration: none;
}
.navbar__link:visited {
  color: #0c0910;
}
.navbar__link--mr {
  padding: 0 2rem;
}

/* Main section */
.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* Newsletter */
  /* Foto */
}
.main__text-container {
  flex-basis: 40vw;
  color: #0c0910;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__title {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  padding: 0 2rem 1.5rem 4rem;
}
.main__paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0 2rem 1.5rem 4rem;
  line-height: 1.6;
}
.main__button-container {
  padding: 0 0 3rem 4rem;
}
.main__button {
  border: 1px solid #0c0910;
  color: #0c0910;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: #fff;
}
.main__button--primary {
  font-size: 18px;
  padding: 1rem 2rem;
}
.main__button--primary:hover {
  border: 1px solid #646266;
  color: #646266;
}
.main__button--primary:focus {
  border: 1px solid #a6a5a8;
  color: #a6a5a8;
}
.main__newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0c0910;
  color: #fff;
  font-family: "Old Standard TT", serif;
  height: 30vh;
  width: 90%;
  padding-bottom: 2rem;
}
.main__newsletter-title {
  font-weight: 700;
  font-size: 30px;
  padding-left: 4rem;
  padding-bottom: 1.5rem;
}
.main__newsletter-paragraph {
  font-family: "Old Standard TT", serif;
  padding-left: 4rem;
  padding-bottom: 0.7rem;
}
.main__newsletter-input-container {
  padding: 0.4rem 0 0 4rem;
}
.main__newsletter-input {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0c0910;
  background-color: #fff;
  padding: 0.5rem 5rem 0.5rem 0;
  border: none;
}
.main__photo {
  flex-basis: 60vw;
}
.main__photo-img {
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
