/* Main section */

.main {
    &__title {
        color: $smoky-black;
        font-family: $old-standard;
        font-weight: $old-bold;
        font-size: $xxx-large;
        text-transform: uppercase;
        padding-top: 4rem;
    }
    &__paragraph {
        color: $granite-gray;
        font-family: $raleway;
        font-size: $large;
        font-weight: $raleway-regular;
    }
    &__button {
        border: 1px solid $smoky-black;
        color: $smoky-black;
        font-family: $raleway;
        font-weight: $raleway-bold;
        background-color: $white;
    }
    &__button--primary {
        font-size: $large;
        padding: 1rem 2rem;
    }
    &__button--primary:hover {
        border: 1px solid $granite-gray;
        color: $granite-gray;
    }
    &__button--primary:focus {
        border: 1px solid $quick-silver;
        color: $quick-silver;
    }
}
