/* Main section */

.main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    &__text-container {
        flex-basis: 45vw;
        color: $smoky-black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__text {
    }
    &__title {
        font-family: $old-standard;
        font-weight: $old-bold;
        font-size: $xxx-large;
        text-transform: uppercase;
        padding: 3rem 5rem 1.5rem 4rem;
    }
    &__paragraph {
        font-family: $raleway;
        font-size: $large;
        font-weight: $raleway-regular;
        padding: 0 10rem 1.5rem 4rem;
        line-height: 1.6;
        color: $granite-gray;
    }

    /* Newsletter */

    &__newsletter-container {
        display: flex;
        flex-direction: row;
        height: 30vh;
    }

    &__newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $smoky-black;
        color: $white;
        font-family: $old-standard;
        width: 90%;
        padding-bottom: 2rem;
    }
    &__newsletter-title {
        font-weight: $old-bold;
        font-size: $xx-large;
        padding-left: 4rem;
        padding-bottom: 1.5rem;
    }
    &__newsletter-paragraph {
        font-family: $old-standard;
        padding-left: 4rem;
        padding-bottom: 0.7rem;
    }
    &__newsletter-input-container {
        padding: 0.4rem 0 0 4rem;
    }
    &__newsletter-input {
        font-family: $raleway;
        font-size: $small;
        font-weight: $raleway-regular;
        color: $smoky-black;
        background-color: $white;
        padding: 0.5rem 5rem 0.5rem 0;
        border: none;
    }

    /* Button newsletter */

    &__newsletter-bt-container {
        height: 30vh;
        width: 10%;
        color: $smoky-black;
        font-family: $old-standard;
        font-weight: $old-bold;
        background-color: $white;
        border: none;
    }
    &__newsletter-text-button {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        font-size: $x-large;
    }
    &__newsletter-text-button:hover {
        color: $granite-gray;
    }
    &__newsletter-text-button:focus {
        color: $quick-silver;
    }
    &__newsletter-button-link {
        text-decoration: none;
    }
    &__newsletter-button-link:visited {
        color: $smoky-black;
    }
}
