/* Main section */

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    &__text-container {
        // padding-top: 7em;
        flex-basis: 40vw;
        color: $smoky-black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__text {
        // padding-top: 7em;
    }
    &__title {
        font-family: $old-standard;
        font-weight: $old-bold;
        font-size: $xxx-large;
        text-transform: uppercase;
        padding: 0 2rem 1.5rem 4rem;
    }
    &__paragraph {
        font-family: $raleway;
        font-size: $large;
        font-weight: $raleway-regular;
        padding: 0 2rem 1.5rem 4rem;
        line-height: 1.6;
    }
    &__button-container {
        padding: 0 0 3rem 4rem;
    }
    &__button {
        border: 1px solid $smoky-black;
        color: $smoky-black;
        font-family: $raleway;
        font-weight: $raleway-bold;
        background-color: $white;
    }
    &__button--primary {
        font-size: $large;
        padding: 1rem 2rem;
    }
    &__button--primary:hover {
        border: 1px solid $granite-gray;
        color: $granite-gray;
    }
    &__button--primary:focus {
        border: 1px solid $quick-silver;
        color: $quick-silver;
    }

    /* Newsletter */

    &__newsletter-container {
    }

    &__newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $smoky-black;
        color: $white;
        font-family: $old-standard;
        height: 30vh;
        width: 90%;
        padding-bottom: 2rem;
    }
    &__newsletter-title {
        font-weight: $old-bold;
        font-size: $xx-large;
        padding-left: 4rem;
        padding-bottom: 1.5rem;
    }
    &__newsletter-paragraph {
        font-family: $old-standard;
        padding-left: 4rem;
        padding-bottom: 0.7rem;
    }
    &__newsletter-input-container {
        padding: 0.4rem 0 0 4rem;
    }
    &__newsletter-input {
        font-family: $raleway;
        font-size: $small;
        font-weight: $raleway-regular;
        color: $smoky-black;
        background-color: $white;
        padding: 0.5rem 5rem 0.5rem 0;
        border: none;
        // margin-top: 0.4rem;
    }
    /* Foto */
    &__photo {
        flex-basis: 60vw;
        // padding-top: 5rem;
    }
    &__photo-img {
        height: 100vh;
    }
}
