/* Navigation */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $old-standard;
        font-size: $xx-large;
        color: $white;
        background-color: $smoky-black;
        text-decoration: none;
        width: 6rem;
        height: 6rem;
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        font-family: $raleway;
        color: $smoky-black;
        font-size: $medium;
        font-weight: $raleway-bold;
        list-style-type: none;
        text-decoration: none;
    }
    &__link {
        text-decoration: none;
    }
    &__link:visited {
        color: $smoky-black;
    }
    &__link--mr {
        padding: 0 2rem;
    }
}
