/* Navigation */

.header {
    height: 6rem;
    background-color: $white;
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    &__brand {
        font-family: $old-standard;
        font-size: $xx-large;
        color: $white;
        background-color: $smoky-black;
        text-decoration: none;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list {
        font-family: $raleway;
        font-size: $x-large;
        color: $smoky-black;
        list-style-type: none;
        margin-left: 60rem;
    }
    &__item {
        text-decoration: none;
        display: inline-block;
        color: $smoky-black;
        font-size: $medium;
        font-family: $raleway;
        font-weight: $raleway-bold;
    }
    &__link {
        text-decoration: none;
    }
    &__link:visited {
        color: $smoky-black;
    }
    &__link--mr {
        margin-right: 2rem;
    }
}
